<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/servlet/getAllUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/servlet/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mainMenu</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.MainMenuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainMenu</servlet-name>
        <url-pattern>/servlet/mainMenu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/servlet/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/servlet/addItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allItems</servlet-name>
        <url-pattern>/servlet/showAllItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItemToBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemToBucket</servlet-name>
        <url-pattern>/servlet/addItemToBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.BucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bucket</servlet-name>
        <url-pattern>/servlet/showBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/servlet/deleteItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.ShowOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showOrder</servlet-name>
        <url-pattern>/servlet/showOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/servlet/deleteOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/servlet/complete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectInitializer</listener-class>
    </listener>
</web-app>
